body {
    background-image: url("../images/constellation.jpeg");
}

.crystal {
    display: inline-block;
    border: 2px solid transparent;
    background-color: transparent;
}

.crystal:focus {
    outline:0;
}

.crystal:hover {
    opacity: 0.6;
}

.crystal:active {
    border: 2px solid #d7f5fe;
}

.crystal-picture {
    height: 150px;
}

#game-title {
    font-family: 'Monoton', cursive;
    color: #ecfafc;
    letter-spacing: 1px;
    font-size: 72px;
    word-spacing: 10px;
}

#game-title-div {
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.game-description {
    font-family: 'Orbitron', sans-serif;
    color: #ecfafc;
    letter-spacing: 1px;
    line-height: 200%;
    display: inline-block;
    width: auto;
    height: auto;
}

#game-desc-div {
    margin-top: 40px;
    padding-left: 200px;
    padding-right: 200px;
}

#paragraph-two {
    margin-top: 10px;
}

#paragraph-three {
    margin-top: 10px;
}

#random-number {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ecfafc;
    font-size: 40px;
}

#random-numb-div {
    margin-top: 40px;
}

#wins-text {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    color: #ecfafc;
}

#losses-text {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    color: #ecfafc;
    padding-top: 12px;
}

#wins-losses-div {
    margin-top: 30px;
}

#buttons-div {
    margin-top: 40px;
}

#total-score-text {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    color: #ecfafc;
}

#total-score-text-div {
    margin-top: 40px;
}

#total-score {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    color: #ecfafc;
    font-size: 40px;
}

#total-score-div {
    margin-top: 30px;
    margin-bottom: 40px;
}

.game-elements {
    text-align: center;
}

@media screen and (max-width: 1400px) {
    #game-desc-div {
        padding-left: 150px;
        padding-right: 150px;
    }
}

@media screen and (max-width: 1300px) {
    #game-desc-div {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (max-width: 980px) {
    #game-desc-div {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media screen and (max-width: 768px) {
    #game-desc-div {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 640px) {
    #game-title {
        font-size: 55px;
    }
}